body{

    background-image:linear-gradient(rgb(213, 207, 207, 0.7), rgb(213, 207, 207, 0.3)), 
    url("https://i.pinimg.com/736x/e3/5b/a2/e35ba2ce06c27fe20d0e7b3b91b681db.jpg");
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    box-sizing: border-box;
    /* valor per defecte més text posar fixed */
    background-attachment: scroll;
    margin: 0;
    padding: 0;
    

}


h1{

    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    color: green;
    font-size: 3rem;
    margin-bottom: 4%;

}

section{

    width: 40%;
    border: solid 5px orange;
    background-color: whitesmoke;
    margin: auto;
    font-size: 1.2rem;

    a{

        color: orange;
        text-decoration: none;        

        &:hover{

            color: orangered;

        }

    }

}

h3{

    color: orangered;
    text-align: center;
    font-size: 1.3rem;

}