<!DOCTYPE html>
<html lang="ca">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>for</title>
</head>
<body>

    <h1>For</h1>

    <p>Tag que ens permetrà mostrar resultat en un format adient per l'usuari. També és d'obertura i tancament.</p>

    <p>Cridant elements 1 a 1, recuperem el punt:</p>
    <ul>
        <li>{{escola.alumne1.nom}}</li>
        <li>{{escola.alumne2.nom}}</li>
        <li>{{escola.alumne3.nom}}</li>
    </ul>
    
    <p>En bucle: </p>

    <table>
        <tr>
            <th>Nom</th>
            <th>Edat</th>
            <th>Attack</th>
        </tr>
        
        <!--accedim els valors ja que és un diccionari dins d'un diccionari-->
        {% for alumne  in  escola.values %}
        
        <tr>
            <td>{{alumne.nom}}</td>
            <td>{{alumne.edat}}</td>
            <td>{{alumne.attack}}</td>
        </tr>

        <!-- fa la funció d'else -->
        {% empty %}

            <p>No hi ha personatges que mostrar!!</p>
        
        {% endfor %}
    </table>

    <!--
    amb with definim la variable que volem utilitzar, jo ja vull accedir als valors dels alumnes i
    el template que heredo poso quina propietat vull podem fer diferents valors -->
    {% include "vistes_templates/includes/adeu.html" with yamcha=escola.alumne3.nom goku=escola.alumne1.nom krilin=escola.alumne2.nom %}
    
</body>
</html>