<!--LA FORMA CORRECTE D'UTILITZAR EL TEMPLATE!!!!!-->
<!-- agafem plantilla base -->
{% extends "base.html" %}
<!-- obligatori pel CSS -->
{% load static %} 

<!-- importem el block que tenim com a title i per poder relacionar HTML i CSS important static què és on 
els tenim aquests fitxers de l'app -->
{% block title %}
Herència
{% endblock %}

{% block link_css %}
    <link rel="stylesheet" href="{% static 'vistes_templates/css/herencia.css' %}">
{% endblock %}

{% block content %}

<h1>Herència</h1>
<p>
    Podem crear unes estructures de documents que després podem heretar.
    Però per fer això hem de crear una carpeta template al projecte!!.
    Extends i nom del fitxer és per fer la crida de la plantilla. 
</p>
<p>
    Dins del fitxer settings.py has d'afegir dins de la llista <span>TEMPLATES</span>:
    <span>
    'DIRS':[
        BASE_DIR / "template"
    ]
    </span>
</p>

{% endblock content %}


