<!DOCTYPE html>
<html lang="ca">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>if</title>
</head>
<body>

    <h1>TAG IF</h1>

    <p>Etiqueta que s'obra i es tanca cal tenir en compte els espais!!!!</p>

    {% if not nom  %}

        <p>No hi ha imatge que mostrar!!</p>
    
    {% elif nom == "tortuga" %}

        <img src="https://i.pinimg.com/736x/9d/f4/e2/9df4e231f41429eb0e3c0ecb0da5dd21.jpg" alt="follet tortuga">

    {% elif nom == "arale" %}
    
        <img src="https://i.pinimg.com/474x/13/6b/76/136b7612692b24f25eca6a75df3e2ac2.jpg" alt="arale">
    
    {% else %}

        <h2>Valor no definit:</h2>
        <img src="https://i.pinimg.com/736x/04/5d/b5/045db5163919c8b4780dab73ebc5f8eb.jpg" alt="caca">

    {% endif %}

       
    
</body>
</html>