{% load static %}
<!-- així no es realitza el template però així podem anar fent ja que ha de venir herència
anirem introduint codi en mica en mica -->
<!DOCTYPE html>
<html lang="ca">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="{% static 'vistes_templates/css/index.css' %}">
</head>
<body>

    <h1>HOME</h1>

    <!-- fet en render: url name de urls.py i id=valor -->
    <!-- en static seria % url 'name d'urls.py'% -->
    <section>
        <ul>
            {% for pag in pagines %}
            <li><a href={{pag.url}} target="_blank" rel="noopener noreferrer">{{pag.nom | upper}}</a></li>
            {% endfor %}
        </ul>
    </section>

    
    
    <!-- Per incloure fragments de codi s'utilitza aquesta comanda 
        i la podem repetir els cops que necessitem: -->   
    
    {% include "vistes_templates/includes/salut.html" %}
    

</body>
</html>