<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tags</title>
</head>
<body>

    <h1>Tags</h1>

    <h2>Hola {{ nom | upper }}</h2>
    <!--d 01-31, m 01 a 12, Y 4 xifres-->
    <h3>{{ data | date:"d/m/Y"}}</h3>

    <!--{clau | tag}-->
    <p>
        S’accedeix al valor mitjançant la seva clau dins del diccionari. El valor obtingut es pot modificar lleugerament des del template, és coneix com a filters, però qualsevol aspecte que es pugui resoldre amb HTML o CSS és preferible fer-ho directament des d’aquests llenguatges. 
        D’aquesta manera evitem sobrecarregar el template i millorem l’eficiència i la llegibilitat del codi.
        Algun d'aquests tags necessiten obertura i tancament. Nosaltres veurem els més importants.
    </p>
    <p>
        Aquí teniu un links de la documentació oficial: 
    </p>
    <ul>
        <li><a href="https://docs.djangoproject.com/en/5.2/ref/templates/builtins/#built-in-tag-reference" target="_blank" rel="noopener noreferrer">Tags</a></li>
        <li><a href="https://docs.djangoproject.com/en/5.2/ref/templates/builtins/#built-in-filter-reference" target="_blank" rel="noopener noreferrer">Filters</a></li>
    </ul>

</body>
</html>